* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    background-color: var(--clr0);

}

header {
    background-color: var(--clr1);
    font-family: Lato-Bold;
    height: 10vh;
    padding-top: 2%;
    padding-left: 2.5%;
    font-size: 2rem;
    color: var(--clr0);
    border-bottom: 0.45vh solid black;
}

canvas {
    display: block;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    outline: 5px solid black;
}

.canvas-container {
    width: 70vw;
    display: none;
    grid-template-columns: 6fr 4fr;
    gap: 30px;
    margin-left: 3vh;
}

.canvas-container>* {
    height: 70vh;
}

.memes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(82px, 135px));
    gap: 2rem;
}

.gallery {
    margin-left: auto;
    margin-right: auto;
    max-width: 85vw;
    margin-top: 3vh;
}

.memes img {
    object-fit: fill;
    width: 90%;
}

.memes img {
    outline: 0.25vw solid rgb(0, 0, 0);
    border-radius: 15px;
    height: 100%;
    transition: 120ms;
}

.memes img:hover {
    outline: 1.5vw solid var(--clr2);
    cursor: pointer;
    transition: 90ms;
}

.costumization {
    width: 30vw;
    display: grid;
    grid-template-columns: 2 1fr;
    grid-template-rows: 4 1fr;
}