@media (max-width: 760px) {
    .memes {
        grid-template-columns: repeat(2, 1fr);
    }

    .memes img {
        outline: 0.7vw solid rgb(0, 0, 0);
        border-radius: 4vh;
        height: 100%;
    }

    .canvas-layout {
        width: fit-content;
        margin: 0 auto;
        display: none;
        grid-template-columns: minmax(350px,45vw);
        grid-template-rows: min-content;
        row-gap:4vh ;
    }
    

}


