.header-layout {
    height: 10vh;
    background-color: var(--clr1);
}
.header-layout button{
    color: aliceblue;
    width: fit-content;
    background-color: transparent;
    border-color: transparent;
}

.canvas-layout {
    height: 77vh;
    display: none;
    grid-template-columns: minmax(350px, 45vw) 0.65fr;
    grid-template-rows: minmax(350px, 35vw);
    column-gap: 6vw;
    justify-content: center;
    align-content: center;
    margin-top: 3vh;
}

.canvas-layout>* {
    height: 100%;
}
.gallery-layout{
    min-height: 89vh;
}
.main-layout{
    background-color: rgb(255, 255, 255);
    width: 90vw;
    margin: 0 auto;
    border-radius: 30px;
    height: fit-content;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.header-layout>*:nth-child(3){
    margin-left: 15vw;
}