:root {
    --clr0: rgb(255, 255, 255);
    --clr1: rgb(211, 58, 44);
    --clr2: #ffe7e7df;
    --clr3: hwb(5 20% 3%);
    --btn1: #cb611a;
    --btn2: #ad5216;
    --btn3: #e9701e;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}