#my-canvas {
    width: 80%;
    min-width: 350px;
    max-height: 750px;
}

canvas {
    margin: 0 auto;
    display: block;
    background-color: white;
    border-radius: 10px;
    outline: 5px solid black;
    
}

