#my-canvas {
    width: 80%;
    min-width: 350px;
    max-height: 750px;
}

canvas {
    margin: 0 auto;
    display: block;
    background-color: white;
    border-radius: 10px;
    outline: 5px solid black;
}


.costumization {
    padding-right: 10px;
    padding-left: 10px;
    background-color: var(--btn1);
    border-radius: 00.8vw;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.color-pickers {
    padding-right: 6px;
}

.txt-input {
    grid-column: 1 / 5;
    height: 50%;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    border: 2px solid black;
    border-radius: 0.8vw;
}