.header-layout button:hover {
    cursor: pointer;
}

.header-layout .logo>* {
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    font-size: 1.7rem;
    transition: 300ms;
    font-family: Impact, sans-serif;
    position:static;
}
.logo,.logo>*{
    height: fit-content;
}
.logo{
    width: 50vw;
    left: 30px;
}