.search-bar {
    font-family: Lato-Bold;
    height: 8vh;
    padding-top: 0.5%;
    padding-left: 4%;
    padding-bottom: 0.5%;
    border-bottom: 0.25vh solid black;
    margin-bottom: 4vh;
}

.search-bar>* {
    border-radius: 19px;
}