
.stickers {
    background-color: white;
    grid-column: 1/6;
    grid-row: 4;
    border-radius: 10px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;
    align-self: center;
}

.stickers img {
    align-self: center;
    justify-self: center;
    width: 70%;
    height: 70%;
    border-radius: 6px;
    transition: 100ms;
}

.stickers img:hover {
    outline: 4px solid rgb(255, 121, 121);
    cursor: pointer;
}

.selected-sticker {
    outline: 3px solid rgb(255, 121, 121);
    background-color: rgb(255, 186, 158);
}